# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.env
*.egg-info/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data & large files
*.nt
*.owl
data/raw/*.jsonl
data/raw/*.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
